name: Dependabot Dependency Test

on:
  pull_request:
    branches:
      - dev
    types: [opened, synchronize, reopened] 
    paths:
      - 'requirements.txt'
      - 'pyproject.toml'
  workflow_dispatch:
permissions:
  contents: write      
  pull-requests: write 
jobs:
  test-deps:
    name: Run Dependabot workflow
    runs-on:
      labels: self-hosted
      group: UnifiedEntSecOpsRunner
    timeout-minutes: 10
    if: (github.event_name == 'pull_request' && github.event.pull_request.user.login == 'dependabot[bot]'&& startsWith(github.head_ref, 'dependabot/pip/'))|| github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -U pip 
          pip install -r requirements.txt

      - name: Run tests
        run: |
          source venv/bin/activate
          pip install pytest pytest-asyncio
          pytest -v
 