name: Pull Request Validation (Gitleaks)
 
on:
  # pull_request:
  #   branches:
  #     - dev
  #   paths-ignore:
  #     - '.github/**'  
  workflow_dispatch:
permissions:
  contents: read
  security-events: write  
  pull-requests: read
  actions: read
 
jobs:
  gitleaks:
    name: Run Gitleaks
    runs-on:
      labels: self-hosted
      group: UnifiedEntSecOpsRunner
    timeout-minutes: 10
    if: (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]')|| github.event_name == 'workflow_dispatch'
 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   
 
      - name: Run Gitleaks Scan
        id: gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}     
          GITLEAKS_CONFIG: .github/config/.gitleaks.toml
          GITLEAKS_ENABLE_UPLOAD_ARTIFACT: true
          GITLEAKS_ENABLE_SUMMARY: true
 